name: Tests

on:
  push:
    branches:
      - main
    paths:
      - '**.php'
      - '.github/**.yml'
  pull_request:
    paths:
      - '**.php'
      - '.github/**.yml'

jobs:
  tests:
    name: Tests
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          ref: ${{ github.head_ref }}

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.4'

      - name: Install composer dependencies
        uses: ramsey/composer-install@v3
        with:
          composer-options: "--optimize-autoloader --prefer-dist"
          ignore-cache: true
        env:
          COMPOSER_AUTH: ${{ secrets.COMPOSER_AUTH }}

      - name: Execute tests
        run: vendor/bin/pest --parallel
